@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(159, 231, 207);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(106, 78, 37);
}

h1#principal {
    text-align: center;
    background-color: rgb(106, 78, 37);
    color: white;
}

h2 {
    color: rgb(154, 115, 56);
}